{{#if session.loggedIn}}
    <h1>Bienvenido {{session.username}}</h1>
{{else}}
    <h1>Inicia o registrate</h1>
{{/if}}

{{#if hasUsers }}
<ul class="p-5">
    {{#each users}}
    <li class="bg-gray-100 p-2 mt-5">
        <div class="flex items-center gap-5">
            <img class="w-16 h-16 rounded-full" src="{{this.profile_pic}}">
            <div>
                <p class="font-bold text-lg">{{this.name}}</p>
                <p>{{formatDate this.birthday}}</p>
                <p>{{this.username}} {{this.email}}</p>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="text-red-500">Ningun usuario registrado</p>
{{/if}}