{{#if session.loggedIn}}
    <h1 class="p-5 text-5xl font-bold mt-10">Bienvenido <span class=" text-amber-300">{{session.username}}</span></h1>
    <h2 class="p-5 text-3xl font-bold mt-10">Solicitudes de amistad</h2>
    {{!-- {{log hasFriendRequests}} --}}
    {{#if hasFriendRequests }}
    <ul class="p-5">
        {{#each friendRequests}}
        <li class="bg-gray-100 p-5 mt-5">
            <div class="flex items-center gap-5">
                <img class="w-16 h-16 rounded-full" src="{{this.profile_pic}}">
                <div>
                    <p class="font-bold text-lg">{{this.name}}</p>
                    <p>{{this.username}}</p>
                </div>
                <a href="/acceptFriend/{{this.id}}" class="ml-auto py-2 px-7 bg-yellow-300 hover:bg-yellow-200 rounded-md">Aceptar</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="text-red-500">Ninguna solicitud de amistad</p>
    {{/if}}

    <h2 class="p-5 text-3xl font-bold mt-10">Amigos o solicitudes enviadas</h2>
    {{#if hasFriends }}
    <ul class="px-5">
        {{#each friends}}
        <li class="bg-gray-100 p-5 mt-5">
            <div class="flex items-center gap-5">
                <img class="w-16 h-16 rounded-full" src="{{this.profile_pic}}">
                <div>
                    <p class="font-bold text-lg">{{this.name}}</p>
                    <p>{{formatDate this.birthday}} {{formatHour this.birthday}}</p>
                    <p>{{this.username}} {{this.email}}</p>
                </div>
                {{#if (toBoolean this.status)}}
                <p class="ml-auto bg-gray-300 p-2 rounded-md">Ya son amigos</p>
                {{else}}
                <p class="ml-auto bg-gray-300 p-2 rounded-md">Por responder...</p>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="text-red-500">Ninguna solicitud de amistad enviada</p>
    {{/if}}
{{else}}
    <h1>Inicia o registrate</h1>
{{/if}}



<h2 class="p-5 text-3xl font-bold mt-10">Mas personas...</h2>
{{#if hasUsers }}
<ul class="px-5">
    {{#each users}}
    <li class="bg-gray-100 p-5 mt-5">
        <div class="flex items-center gap-5">
            <img class="w-16 h-16 rounded-full" src="{{this.profile_pic}}">
            <div>
                <p class="font-bold text-lg">{{this.name}}</p>
                <p>{{formatDate this.birthday}} {{formatHour this.birthday}}</p>
                <p>{{this.username}} {{this.email}}</p>
            </div>
            {{#if ../session.loggedIn}}
            <a href="/addFriend/{{this.id}}" class="ml-auto py-2 px-7 bg-blue-500 hover:bg-blue-400 text-white rounded-md">Agregar</a>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="text-red-500">Ningun usuario registrado</p>
{{/if}}