<h1>Bienvenido</h1>
<p>{{username}}</p>

{{#if hasUsers }}
<ul>
    {{#each users}}
    <li class="text-green-700">
        <div>
            <img src="{{this.profile_pic}}">
            <p>{{this.name}} {{formatDate this.birthday}}</p>
        </div>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="text-red-500">Ningun usuario registrado</p>
{{/if}}