{{#if session.loggedIn}}
    <h1>Bienvenido {{session.username}}</h1>
    <h2>Solicitudes de amistad</h2>
    {{!-- {{log hasFriendRequests}} --}}
    {{#if hasFriendRequests }}
    <ul class="p-5">
        {{#each friendRequests}}
        <li class="bg-gray-100 p-5 mt-5">
            <div class="flex items-center gap-5">
                <img class="w-16 h-16 rounded-full" src="{{this.profile_pic}}">
                <div>
                    <p class="font-bold text-lg">{{this.name}}</p>
                    <p>{{this.username}}</p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="text-red-500">Ninguna solicitud de amistad</p>
    {{/if}}
{{else}}
    <h1>Inicia o registrate</h1>
{{/if}}



{{#if hasUsers }}
<ul class="p-5">
    {{#each users}}
    <li class="bg-gray-100 p-5 mt-5">
        <div class="flex items-center gap-5">
            <img class="w-16 h-16 rounded-full" src="{{this.profile_pic}}">
            <div>
                <p class="font-bold text-lg">{{this.name}}</p>
                <p>{{formatDate this.birthday}}</p>
                <p>{{this.username}} {{this.email}}</p>
            </div>
            {{#if ../session.loggedIn}}
            <a href="/addFriend/{{this.id}}" class="ml-auto">Agregar</a>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="text-red-500">Ningun usuario registrado</p>
{{/if}}